@import '../../../sass/variables';

.container {
  position: relative;
  top: 166px;
  display: flex;
  left: calc((100vw - 1200px) / 2);
  justify-content: center;
  align-items: center;
  &-left {
    opacity: 0.8;
    width: 600px;
    margin-right: 20px;
    h1 {
      font-size: 48px;
      margin-bottom: 24px;
    }
    p {
      font-size: 20px;
      margin-bottom: 24px;
    }
    .link-btn {
      p {
        padding: 9px 15px;
        background-color: $color-primary;
        display: inline-block;
        color: $white;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $color-hover;
        }
      }
    }
  }
  &-right {
    flex-grow: 1;
    img {
      width: 850px;
      height: 406px;
    }
  }
}
