@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.wrapper {
  .path {
    color: #5e6c84;
    font-size: 15px;
  }
  .title {
    margin-top: 10px;
    font-size: 24px;
    color: #172b4d;
  }
  .board-filter {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-top: 24px;
    .input-search {
      position: relative;
      height: 32px;
      width: 160px;
      margin-right: 18px;
      i {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 17.2px;
        pointer-events: none;
        color: rgb(94, 108, 132);
      }
      input {
        height: 100%;
        width: 100%;
        padding: 0px 7px 0px 32px;
        border-radius: 3px;
        border: 1px solid rgb(223, 225, 230);
        color: rgb(23, 43, 77);
        background: rgb(244, 245, 247);

        font-weight: normal;
        font-size: 15px;
        outline: none;
        &:focus {
          border: 1px solid $color-primary;
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      margin-right: 10px;
      flex-direction: row-reverse;
      position: relative;
      .user-icon-kanban {
        font-size: 30px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.1s linear;
      }
      .user-active {
        transform: translateY(-5px);
        z-index: 1000;
        border: 1px solid $color-primary;
      }
      .user-icon-kanban:nth-child(3) {
        margin-right: -7px;
        &:hover {
          transform: translateY(-5px);
          z-index: 1000;
          border: 1px solid $color-primary;
        }
      }
      .user-icon-kanban:nth-child(4) {
        margin-right: -7px;
        &:hover {
          transform: translateY(-5px);
          z-index: 1000;
          border: 1px solid $color-primary;
        }
      }
      .user-icon-kanban:nth-child(2) {
        margin-right: -7px;
        &:hover {
          transform: translateY(-5px);
          z-index: 1000;
          border: 1px solid $color-primary;
        }
      }
      .user-icon-kanban:nth-child(1) {
        &:hover {
          border: 1px solid $color-primary;
          transform: translateY(-5px);
          z-index: 1000;
        }
      }
      .circle-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-primary;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        margin-right: -9px;
      }
    }
    button {
      border: none;
      background-color: $white;
      padding: 7px 12px;
      cursor: pointer;
      border-radius: 4px;
      color: #42526e;
      &:hover {
        background-color: $color-project-hover;
      }
    }
    .myIssueActive {
      background-color: $color-project-hover;
    }
  }
  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-top: 30px;

    .boxTask {
      background: #f4f5f7;
      width: 100%;
      .taskType {
        padding: 13px 10px 17px;
        text-transform: uppercase;
        color: rgb(94, 108, 132);
        font-size: 12.5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
