@import '../../../sass/variables';

.wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-logo {
    margin-right: 30px;
    img {
      cursor: pointer;
      height: 26px;
      width: 215px;
    }
  }
  .header-content {
    display: flex;
    align-items: center;
    list-style-position: inside;
    flex-grow: 1;
    height: 100%;

    li {
      padding: 19px 15px;
      float: left;
      font-style: bold;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        color: $color-primary;
      }
    }
  }
  .header-user {
    display: flex;
    align-items: center;
    p {
      padding: 10px 15px;
      cursor: pointer;
      font-weight: 600;
    }
    p:nth-child(2) {
      background-color: $color-primary;
      color: $white;
      border-radius: 5px;
      transition: all 0.2s linear;
      &:hover {
        background-color: $color-hover;
      }
    }
    p:nth-child(1) {
      transition: all 0.2s linear;
      &:hover {
        text-decoration: underline;
        color: $color-primary;
      }
    }
  }
  .header-user-login {
    position: relative;
    .box {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .avatar {
      font-size: 13px;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      padding: 5px;
      background-color: #23456f;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
    .box-user {
      position: absolute;
      top: 115%;
      padding: 10px 0;
      width: 100%;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1),
        -1px -1px 3px rgba(0, 0, 0, 0.1);
      p {
        padding: 8px 10px;
        &:hover {
          background-color: #d2e5fe;
          color: $color-primary;
        }
      }
      &::after {
        content: '';
        border: 10px solid;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        top: -18px;
        right: 30%;
      }
    }
  }
}
