@import '../../sass/variables';

.wrapper {
  position: relative;
  overflow-x: hidden;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    background-color: $white;
    box-shadow: 3px 1px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 99;
  }
  .main {
    background-image: url('https://wac-cdn.atlassian.com/dam/jcr:6d25524e-c5e4-4798-8960-0c9ea178882a/hero-bg-shape-cropped.png?cdnVersion=478');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}
